:root {
	color-scheme: light dark;
}

html {
  color-scheme: light dark;
}

*{
    box-sizing: border-box;
    scrollbar-color: lightgrey #efefef;
  	scrollbar-width: thin;
}

body{
  	background-color: light-dark(lightgrey, #4f4f51);
  	color: light-dark(#0e0d09, grey);
    margin: 20%;
    margin-top: 25px;
    margin-bottom: 4%;
/*  background-color: #dcd7d1; */
/*	background-color: #eaeaea; */
    font-family: verdana; 
	border-style: solid;
	border-color: light-dark(darkgrey, #4f4f51);darkgrey;
	border-width: 0px;
}

header{
  	background-color: light-dark(lightgrey, #4f4f51);
	text-align: right;
	padding: 10px;
	font-size: 36px; 
	text-transform: uppercase; 
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.navbutton{
	text-align: center;
	border: 2px solid transparent;
}

#navbuttonright{
	padding-left: 10%;
  	width: 25%;
}

#navbuttoncenter{
  	width: 1%;
}

#navbuttonleft{
	padding-right: 10%;
  	width: 25%;
}

iframe{
	border-style: none;
	width: 100%;
}

#navbar{
  	background-color: light-dark(lightgrey, #4f4f51);
	display: block;
	clear: both;
	text-align: center;
	padding: 25px;
	outline-style: solid;
	outline-color: light-dark(lightgrey, #4f4f51);
	outline-width: 7px;
	outline-offset: -1px;
/*	-moz-box-shadow:0 5px 6px rgba(182, 182, 182, 0.75);
	-webkit-box-shadow: 0 6px 5px rgba(182, 182, 182, 0.75); */
	box-shadow: 0 8px 5px light-dark(gray, darkcyan);
	overflow: hidden;
  	position: sticky;
  	top: 0;
  	z-index: 999;
}

aside{
	width: 20%;
	float: left;
	padding: 10px;
	text-align: left;
	color: #757575;
}

#asideimg{
	border-radius: 7%;
}

section{
  	background-color: light-dark(#efefef, grey);
	width: 78%;
	float: left;
	padding: 10px;
	text-align: justify;
	height: 100%;
	box-shadow: 0 0 5px light-dark(grey, black) inset;
}

article{
	width: 20%;
	float: left;
	padding: 10px;
	text-align: justify;
}

footer{
  	background-color: light-dark(#efefef, grey);
  	  	color: light-dark(#0e0d09, lightgrey);
	clear: both;
	margin-top: 25px;
	display: block;
	clear: both;
	text-align: center;
	padding: 25px;
	box-shadow: 0 0 5px light-dark(grey, black) inset;
}

button{	
  	background-color: light-dark(whitesmoke, #939596);
  	color: light-dark(#84681c, #2d3032);
	padding: 10px 20px 9px 20px;
	border-style: solid;
	border-color: light-dark(whitesmoke, #939596);
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: -1px 1px 1px light-dark(white, lightgrey);
	box-shadow: 0 0 5px light-dark(grey, lightgrey), 0 0 1px light-dark(darkgrey, white);
	transition-duration: 0.5s;
}
button:hover{	
	background-color: light-dark(floralwhite, #7d7285);
	border-color: light-dark(floralwhite, #7d7285);
	box-shadow: 0 0 5px light-dark(grey, plum) 0 0 1px light-dark(darkgrey, mediumorchid);
	color: light-dark(#a58123, #2d3032);
}

button:active{	
	background-color: light-dark(papayawhip, orchid);
	border-color: light-dark(papayawhip, orchid);
	box-shadow: 0 0 5px light-dark(grey, plum) 0 0 1px light-dark(darkgrey, mediumorchid);
	color: #a58123;
}

button:focus{	
	background-color: light-dark(papayawhip, orchid);
	border-color: light-dark(papayawhip, orchid);
	text-shadow: -1px 1px 1px white; 
	box-shadow: 0 0 5px light-dark(grey, plum) 0 0 1px light-dark(darkgrey, mediumorchid);
	color: #83661c;
}

/*button:focus{	
	background-color: gainsboro;
	border-color: gainsboro;
	text-shadow: -1px 1px 1px white; 
	box-shadow: 0 0 5px grey, 0 0 1px darkgrey;
	color: lightslategray;
}*//*use this if you want inset button*/

li{

}

li::marker {
  	color: grey;
	font-size: 28px;
}

@media screen and (max-width:1400px){
    body{
    margin: 10%;
    margin-top: 25px;
    }    

@media screen and (max-width:1000px){
    body{
    margin: 3%;
    margin-top: 25px;
    }    

@media screen and (max-width:900px){
    body{
    margin: 1%;
    margin-top: 25px;
    }

@media screen and (max-width:800px){
    body{
    margin: 7%;
    margin-top: 65px;
    }
    header{
    margin-bottom: -45px;
    }
    aside, section, article{
    width: 100%;}
    #navbar{
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	width: 86%;
    }
    #asideimg{
	padding-left: 10%;
	border-radius: 0px;
    }
    #navbuttonright{
	padding-left: 1%;
  	width: 25%;
	}
	#navbuttoncenter{
  	width: 4%;"
	}
	#navbuttonleft{
	padding-right: 1%;
  	width: 25%;
	}
    iframe{
	width: 100%;
	max-height: 100%;
	}
    button{	
	padding: 9px 9px 8px 9px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;}
    }

@media screen and (max-width:650px){
    body{
    margin: 7%;
    margin-top: 65px;
    }
    header{
    margin-bottom: -45px;
    }
    aside, section, article{
    width: 100%;}
    #navbar{
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	width: 86%;
    }
    #asideimg{
	padding-left: 9%;
	border-radius: 0px;
    }
	#navbuttonright{
	padding-left: 1%;
  	width: 25%;
	}
	#navbuttoncenter{
  	width: 2%;"
	}
	#navbuttonleft{
	padding-right: 1%;
  	width: 25%;
	}
    iframe{
	width: 100%;
	max-height: 100%;
	}
    button{	
	padding: 8px 8px 7px 8px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;}
    }
@media screen and (max-width:400px){
    body{
    margin: 5%;
    margin-top: 65px;
    }
    header{
    margin-bottom: -45px;
    }
    aside, section, article{
    width: 100%;}
    #navbar{
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	width: 90%;
    }
    #asideimg{
	padding-left: 9%;
	border-radius: 0px;
    }
	#navbuttonright{
	padding-left: 1%;
  	width: 25%;
	}
	#navbuttoncenter{
  	width: 2%;"
	}
	#navbuttonleft{
	padding-right: 1%;
  	width: 25%;
	}
    iframe{
	width: 100%;
	max-height: 100%;
	}
    button{	
	padding: 8px 6px 7px 6px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;}
    }