*{
    box-sizing: border-box;
    scrollbar-color: lightgrey #efefef;
  	scrollbar-width: thin;
}

body{
	background-color: #efefef;
    margin: 5%;
/*  background-color: #dcd7d1; */
/*	background-color: #eaeaea; */
    font-family: verdana; 
	color: #0e0d09;
}

section{
	background-color: #efefef;
	width: 90%;
	float: left;
	text-align: justify;
}

input{	
	background-color: #f4bf33;
	padding: 10px 20px 12px 20px;
	border-style: solid;
	border-color: #dab45b;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;}
    input{	
	padding: 3px 8px 6px 8px;
	font-weight: normal;
	text-transform: lowercase;}
    }