:root {
	color-scheme: light dark;
}

*{
    box-sizing: border-box;
    scrollbar-color: lightgrey #efefef;
  	scrollbar-width: thin;
}

body{
	background-color: light-dark(#efefef, grey);
  	color: light-dark(#0e0d09, lightgrey);
    margin: 5%;
/*  background-color: #dcd7d1; */
/*	background-color: #eaeaea; */
    font-family: verdana; 
}

header{
	background-color: light-dark(#efefef, grey);
  	color: light-dark(#0e0d09, lightgrey);
}

section{
	background-color: light-dark(#efefef, grey);
  	color: light-dark(#0e0d09, lightgrey);
	width: 90%;
	float: left;
	text-align: justify;
}

h1{
	color: light-dark(black, white);
}
h2{
	color: light-dark(black, white);
}
h3{
	color: light-dark(black, white);
}
h4{
	color: light-dark(black, white);
}
h5{
	color: light-dark(black, white);
}

input{	
	background-color: light-dark(#efefef, grey);
  	color: light-dark(#0e0d09, lightgrey);
	padding: 10px 20px 12px 20px;
	border-style: solid;
	border-color: #dab45b;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;}
    input{	
	padding: 3px 8px 6px 8px;
	font-weight: normal;
	text-transform: lowercase;}
    }

.dark-mode body{
	background-color: grey;
	color: lightgrey;
}

.dark-mode section{
		background-color: grey;
	color: lightgrey;
}